/*GLOBAL STYKES*/
* { 
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.ocultar {
  display: none;
}

.main-content p {
  margin-bottom: 9px;
}

/*----SIDEBAR MENU LEFT-----*/
.div_menu_logo {
  text-align: center;
}

#logo_menu_arca {
  width: 100%;
}

.wrap_menuList_button_text {
  background-color: #e2e6e9;
}

.wrap_menuList_button_text button {
  text-align: center;
}

.menu_list {
  margin-top: 35px;
}

.menu_list a{
  border: 0px;
  background-color: #e2e6e9;  
  color: #004a74;
}

.menu_list a:hover {
  color: #004a74;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
}

.menu_list a:hover span{
  color: white;
  font-weight: bold;
  border: 2px solid #004a74;
  background-color: #004a74;
}

.menu_numbers {
  border: 2px solid #004a74;
  border-radius: 50%;
  margin-right: 15px;
  padding: 0px 5px;
  font-size: 14px;
  font-weight: bold;
  color: #004a74;
}

.wrap_button_text {
  text-align: center;
}

.btn_colabora {
  background-color: #004a74;
  color: white;
  border: 0px;
  border-radius: 15px;
  font-weight: bold;
  padding: 1px 22px;
  margin-top: 20px;
  margin: 30px 0px;
}

.btn_colabora:hover {
  color: white;
  opacity: 0.6;
  transition: opacity 0.5s;
}

.text_menu_left {
  text-align: left;
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 16px;
  color: #004a74;
  padding: 0px 20px 40px;
}
/*----MAIN CONTENT-----*/
.main-content {
  margin-left: 16.8%;
  margin-right: 8.5%;
  text-align: center;
}

.img_galery {
  width: 90%;
  margin: 110px 0px;
}

.first_img_text{
  position: absolute;
  text-align: right;
  top: 16%;
  letter-spacing: 0px;
  padding: 0px 27.7vw 0px 39vw;
  font-size: 0.9vw;
}

.second_img_text{
  position: absolute;
  text-align: right;
  top: 10%;
  letter-spacing: 0px;
  padding: 0px 41.7vw 0px 19vw;
  font-size: 0.9vw;
}

.third_img_text{
  position: absolute;
  text-align: right;
  top: 10%;
  letter-spacing: 0px;
  padding: 0px 47.7vw 0px 23vw;
  font-size: 0.9vw;
}

/* .first_img_text button {
  background-color: #8B0058;
  color: white;
  border: 0px;
  border-radius: 15px;
  padding: 1px 10px;
  margin-top: 20px;
  margin: 5px 0px;
  font-size: 1vw;
} */

.area_hover_front_house:hover {
	opacity: 0.5;
}

.thermometer_img {
	width: 100%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/*----SIDEBAR MENU RIGHT-----*/
#right-sidebar {
  left: auto;
}

.div_percentage {
  margin-top: 230%;
}

/*____________________________SECTIONS_______________________*/
/*-------first section (SVG IMAGE)------*/
#svg_all {
  margin: 80px 0px 0px 0px;
}

.capa_interactiva {
  fill: #ffffff;
}

.circle:hover, .capa_interactiva:hover {
  cursor: pointer;
  cursor: hand;
}

.text_infomation_svgImg {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 40px;
  color: #0C4C76;
  font-size: 18px;
}

.text_infomation_svgImg img {
  width: 25px;
}

.text_infomation_svgImg span{
  border: 1px solid #0C4C76;
  border-radius: 50%;
  color: #0C4C76;
  background-color: #0C4C76;
  padding: 0px 8px;
  margin: 0px 10px;
}
/* \ first section*/

/*-------fifth section-------*/
.wrap_fifth_section {
  text-align: center;
  /* background-image: url("../img/Logo_simple.png"); */
  background-position: center;
  background-repeat: no-repeat;
  padding: 6% 10% 12% 10%;
}

.title_fifth_section {
  color: #0C4C76;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 40px;  
}

.text_fifth_section {
  text-align: left;
}
/* \ fifth section*/
.lineSVG {
  stroke: #0C4C76;
  stroke-width: 5;
}

.textSVG {
  font-size: 36px;
}
/*_________________________END SECTIONS________________________*/

/*-----FOOTER-----*/
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0C4C76;
  color: white;
  text-align: center;
}

.footer_text {
  display: inline-flex;
  list-style: none;
  margin: 5px 0px;
  padding-right: 0px;
}

.footer_text a {
  text-decoration: none;
  color: white;
}

.separator_footer{
  margin: 0px 12px;
}

.icon_footer {
  width: 20px;
  margin: 0px 2px;
}

/* -------MODAL-------- */
.modal_video {
  width: auto;
}
/* ------- \ MODAL-------- */

/*----MEDIA QUERYS----*/
@media (min-width: 1900px) {
  .div_nav {
    flex: 0 0 10.667%;
    max-width: 10.667%;
  }

  .main-content {
    margin-left: 9.8%;
  }
}

/*_______NO MOBILE SM_______ */
@media (max-width: 1149px) and (min-width: 950px) {
  .div_nav {
    flex: 0 0 17.667%;
    max-width: 17.667%;
  }

  .main-content {
    margin-left: 13%;
    margin-right: 1%;
    text-align: center
  }

  #right-sidebar {
    left: auto;
    flex: 0 0 10.333%;
    max-width: 10.333%;
  }
  
  .first_img_text {
    position: absolute;
    text-align: right;
    top: 23%;
    letter-spacing: 0px;
    padding: 0px 29.3vw 0px 40vw;
    font-size: 0.9vw;
  }

  .second_img_text {
    position: absolute;
    text-align: right;
    top: 15%;
    letter-spacing: 0px;
    padding: 0px 44.3vw 0px 20vw;
    font-size: 0.9vw;
  }

  .third_img_text{
    position: absolute;
    text-align: right;
    top: 22%;
    letter-spacing: 0px;
    padding: 0px 50.7vw 0px 24vw;
    font-size: 0.9vw;
    line-height: 10px;
  }
  
  .textSVG {
    font-size: 45px;
  }

}

/*_______NO MOBILE MD_______ */
@media (max-width: 1500px) and (min-width: 1150px) {
  .div_nav {
    flex: 0 0 14.667%;
    max-width: 14.667%;
  }

  .main-content {
    margin-left: 11%;
    margin-right: 2%;
    text-align: center
  }

  #right-sidebar {
    left: auto;
    flex: 0 0 10.333%;
    max-width: 10.333%;
  }
  
  .first_img_text {
    position: absolute;
    text-align: right;
    top: 19%;
    letter-spacing: 0px;
    padding: 0px 29.7vw 0px 42vw;
    font-size: 1vw;
  }

  .second_img_text {
    position: absolute;
    text-align: right;
    top: 10%;
    letter-spacing: 0px;
    padding: 0px 45vw 0px 19vw;
    font-size: 1vw;
  }

  .third_img_text{
    position: absolute;
    text-align: right;
    top: 12%;
    letter-spacing: 0px;
    padding: 0px 51vw 0px 24vw;
    font-size: 1vw;
  }
  
  .textSVG {
    font-size: 45px;
  }

  .text_menu_left {
    text-align: left;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 16px;
    color: #004a74;
    padding: 0px 10% 10px 10%;
  }
  
  .menu_list {
    margin-top: 10%;
  }

  .wrap_menuList_button_text {
    font-size: 14px;
  }

  #logo_menu_arca {
    width: 65%;
  }
}
/*_______NO MOBILE LG_______ */
/* @media (max-width: 1500px) and (min-width: 1350px) {
  .div_nav {
    flex: 0 0 14.667%;
    max-width: 14.667%;
  }

  .main-content {
    margin-left: 11%;
    margin-right: 2%;
    text-align: center
  }

  #right-sidebar {
    left: auto;
    flex: 0 0 10.333%;
    max-width: 10.333%;
  }
  
  .first_img_text {
    position: absolute;
    text-align: right;
    top: 19%;
    letter-spacing: 0px;
    padding: 0px 29.7vw 0px 42vw;
    font-size: 1vw;
  }

  .second_img_text {
    position: absolute;
    text-align: right;
    top: 10%;
    letter-spacing: 0px;
    padding: 0px 45vw 0px 19vw;
    font-size: 1vw;
  }

  .third_img_text{
    position: absolute;
    text-align: right;
    top: 12%;
    letter-spacing: 0px;
    padding: 0px 51vw 0px 24vw;
    font-size: 1vw;
  }
  
  .textSVG {
    font-size: 4vw;
  }

} */
